---
---

@import "{{ site.theme }}";

body {
  background-color: #323232;
  padding:30px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#F5793B;
  font-weight:400;
}

h2 {
	color: #F5793B;
}

h3 {
    color: #F5793B;
}

pre {
  padding:8px 15px;
  background: #323232;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

kbd {
  background-color: #323232;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.wrapper {
	width:1200px;
}

section {
   width: 900px;
}

header {
   padding-right: 100px;
}