---
---

@import "{{ site.theme }}";

body {
  background: rgb(17,17,17);
  background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(108,108,108,1) 100%);
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#a79bf0;
  font-weight:400;
}

h2 {
	color: #7F6FEA;
}

h3 {
    color: #137DC5;
}

pre {
  padding:8px 15px;
  background: #323232;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

kbd {
  background-color: #323232;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.wrapper {
	width:100%;
}

section {
   width:80%;
}

header {
   width:15%;
}

 header a {
    display:inline;
	margin: 0;
    padding: 5px;
	color: #fff;
	display:block;
	text-align:center;
	font-size: 18px;
  }
 
 header a:hover, header a:focus {
	color: #111;
	background: rgb(104,194,255);
	background: linear-gradient(0deg, rgba(104,194,255,1) 0%, rgba(17,112,175,1) 100%);
	border-radius: 25px;
 }
 
 .logo a:hover {
	background: #111111;
 }
 
 
 @font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 4vw;
  line-height: 4vw;
  text-shadow: 0 0 3vw #2356FF;
  display:block;
  text-align:center;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
