---
---

@import "{{ site.theme }}";

body {
  background-color: #111111;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#a79bf0;
  font-weight:400;
}

h2 {
	color: #7F6FEA;
}

h3 {
    color: #137DC5;
}

pre {
  padding:8px 15px;
  background: #323232;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

kbd {
  background-color: #323232;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.wrapper {
	width:100%;
}

section {
   width:80%;
}

header {
   width:15%;
}

 header a {
    display:inline;
	margin: 0;
    padding: 5px;
	color: #fff;
	display:block;
	text-align:center;
	font-size: 18px;
  }
 
 header a:hover, header a:focus {
	color: #111;
	background: rgb(104,194,255);
	background: linear-gradient(0deg, rgba(104,194,255,1) 0%, rgba(17,112,175,1) 100%);
	radius: 5px;
 }